<!-- <ion-header>
    <ion-toolbar color="light">
        <ion-title>Housing Around login</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">
    <br /><br /><br /><br />
    <p *ngIf="loginPage">Login</p>
    <p *ngIf="!loginPage">Register</p>

    <img src="../../assets/images/house.png" alt="" />

    <!-- login Page  -->
    <ng-container *ngIf="loginPage">
        <form [formGroup]="credentials">
            <ion-item fill="solid" class="ion-margin-bottom">
                <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
                <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email is invalid</ion-note>
            </ion-item>

            <ion-item fill="solid" class="ion-margin-bottom">
                <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
                <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Password needs to be 6 characters</ion-note>
            </ion-item>

            <div class="log-btn-container">
                <ion-button class="login-btns" expand="block" type="button" color="dark" (click)="loginPage = !loginPage">Register</ion-button>
                <ion-button class="login-btns" color="light" [disabled]="!credentials.valid" (click)="login()">Log in</ion-button>
            </div>
        </form>
    </ng-container>

    <!-- Register Page -->
    <ng-container *ngIf="!loginPage">
        <form [formGroup]="registerForm">
            <ion-item fill="solid" class="ion-margin-bottom">
                <ion-input type="text" placeholder="Name" formControlName="name"></ion-input>
                <ion-note slot="error" *ngIf="(name.dirty || name.touched) && name.errors">Name is invalid</ion-note>
            </ion-item>

            <ion-item fill="solid" class="ion-margin-bottom">
                <ion-input type="text" placeholder="Surname" formControlName="surname"></ion-input>
                <ion-note slot="error" *ngIf="(surname.dirty || surname.touched) && surname.errors">Surname is invalid</ion-note>
            </ion-item>

            <ion-item fill="solid" class="ion-margin-bottom">
                <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
                <ion-note slot="error" *ngIf="(regEmail.dirty || regEmail.touched) && regEmail.errors">Email is invalid</ion-note>
            </ion-item>

            <ion-item fill="solid" class="ion-margin-bottom">
                <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
                <ion-note slot="error" *ngIf="(regPassword.dirty || regPassword.touched) && regPassword.errors">Password needs to be 6 characters</ion-note>
            </ion-item>

            <div class="log-btn-container">
                <ion-button class="login-btns" type="button" color="dark" (click)="loginPage = true">Back</ion-button>
                <ion-button class="login-btns" type="button" color="light" [disabled]="!registerForm.valid" (click)="register()">Create account</ion-button>
            </div>
        </form>
    </ng-container>
</ion-content>
