p {
    -webkit-text-stroke: 0.6px #fff;
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
}
