.img-preview {
    border-radius: 50%;
    width: 32px;
    height: auto;
    padding: 0 0px 0px 0;
    overflow: hidden;
    background-color: #5e81b6;
    .menu-pp {
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
