<ion-header [translucent]="true">
    <ion-toolbar color="light">
        <ion-buttons slot="secondary">
            <ion-button>
                <ion-icon slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button (click)="presentPopover($event)">
                <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
            <ng-template>
                <ion-content class="ion-padding">
                    <ion-item (click)="logout()">
                        <ion-icon name="exit-outline" slot="start"></ion-icon>
                        <ion-label>Logout</ion-label>
                    </ion-item>
                </ion-content>
            </ng-template>
        </ion-popover>
        <ion-title>Select a Property</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <!-- <strong>Select a Property</strong> -->

        <div *ngIf="properties">
            <ion-list [inset]="true">
                <ion-item *ngFor="let property of properties" detail="true" button (click)="viewProperty(property)">
                    <ion-avatar slot="start">
                        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                    </ion-avatar>
                    <ion-label>
                        <h3>{{property.unit_number}} {{property.street}}, {{property.suburb}}</h3>
                        <p>{{property.city}}, {{property.postal_code}}</p>
                    </ion-label>
                </ion-item>
            </ion-list>
        </div>

        <br /><ion-button color="light" (click)="addProperty() ">Add New Property</ion-button>
    </div>
</ion-content>
